body {
  background-image: radial-gradient(white, darkblue);
}

.cv-container {
  background-size: cover;
  background: none;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 1rem;
}
.next-section-container {
  top: 30%;
  display: flex;
  justify-content: space-between;
  padding-left: 10rem;
  padding-right: 10rem;
  width: 50%;
  margin: auto;
}
.next-section-left {
  transform: scaleX(-1);
  height: 50px;
  opacity: 0.5;
  border-radius: 50px;
  padding: 10px;
  background-color: white;
}
.next-section-right {
  height: 50px;
  opacity: 0.5;
  border-radius: 50px;
  padding: 10px;
  background-color: white;
}
.next-section-left:hover, .next-section-right:hover{
  opacity: 0.8;
  cursor: pointer;
}
.final-cv {
  margin: auto;
  margin-bottom: 1rem;
  background-color: rgb(52, 252, 185);
  color: darkblue;
  padding: 10px;
  border-radius: 5px;
}
.final-cv:hover {
  cursor: pointer;
}
.cv-container .title {
  margin: auto;
  text-align: center;
  font-size: 3rem;
  color: white;
  margin-bottom: 1rem;
}
.cv-container .general, .education, .experience {
  position: relative;
  height: auto;
  width: 45%;
  margin: auto;
  margin-top: 0.5rem;
  padding: 1rem;
  padding-top: 0;
  background-color: white;

  opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.5s;
}

@keyframes fadeInOpacity {
  from
  { 
    bottom:-200px;
    opacity:0;
  } 
  to
  {
    bottom:0;
    opacity:1;
  }
}

.cv-container h1 {
  margin: 0;
  margin-top: 1rem;
  margin-bottom: 2rem;
  text-align: center;
}

.cv-container .general-container, .education-container, .experience-container {
  padding: 0.5rem;
  justify-content:center
}

.cv-container .general-container > *, .education-container > *, .experience-container > *{
  display: grid;
}

.cv-container input {
  margin: auto;
  margin-bottom: 20px;
  min-width: 200px;
  height: 2rem;
  font-size: 1rem;
}

.cv-container input[name="email"] {
  font-size: 0.8rem;
}

.cv-container input[name="email"]::placeholder {
  font-size: 1rem;
}

.cv-container .button-container {
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-bottom: 3rem;
  width: 40%;
}

.cv-container .button {
  margin: auto;
  margin-top: 1rem;
  height: 2.5rem;
  line-height: 2.5rem;
  font-size: 1.5rem;
  border-radius: 5px;
  margin-top: 10px;
  border: 0;
}

.cv-container .button-container .submit-button {
  color: white;
}

.experience-container .add-button {
  color: darkblue;
  background-color: rgb(8, 214, 176);
}

.button-container .delete-button {
  color: white;
  background-color: brown;
}

.cv-container .submit-button:hover, .add-button:hover, .delete-button:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.button-container .submit-button[value='submit']{
  background-color: darkblue;
}

.button-container .submit-button[value='edit']{
  background-color: goldenrod;
}

.submitted-info {
  font-style: italic;
  height: 1rem;
  font-size: 1rem;
  text-align: center;
}

.submitted-info:first-of-type {
  font-size: 1.5rem;
  text-align: center;
}

@media screen and (max-width: 800px) {
  .next-section-container {
    padding-left: 1rem;
    padding-right: 1rem;
    width: 90%;
  }
  .cv-container {
    padding: 0rem;
  }
  .final-cv {
    margin-bottom: 0.7rem;
  }
  .cv-container .title {
    font-size: 2rem;
  }
  .cv-container .general, .education, .experience {
    width: 80%;
    margin-top: 0.5rem;
    padding: 1rem;
    padding-top: 0;
  }
  .cv-container h1 {
    font-size: 1.5rem;
  }
  .cv-container .general-container, .education-container, .experience-container {
    padding: 0.5rem;
  }
  .cv-container .button-container {
    margin: auto;
    margin-bottom: 0rem;
    width: 90%;
  }
  .cv-container .experience-buttons {
    padding: 1rem;
    border-bottom: 1px solid black;
    margin-bottom: 2rem;
  }
  .cv-container .button {
    height: 3rem;
    line-height: 3rem;
    font-size: 2rem;
    margin-top: 20px;
  }
  .experience-container .add-button {
    width: 50%;
    margin: auto;
  }
  .submitted-info {
    font-style: italic;
    height: 1rem;
    font-size: 1rem;
    text-align: center;
  }
  .submitted-info:first-of-type {
    font-size: 1.5rem;
    text-align: center;
  }
}
